.maze__cell(
  ng-repeat="block in blocks"
  style="
    border-top: {{border.top(block.row, block.column)}};
    border-bottom: {{border.bottom(block.row, block.column)}};
    border-left: {{border.left(block.row, block.column)}};
    border-right: {{border.right(block.row, block.column)}};
    width: {{blockWidth}}%;
    height: {{blockHeight}}%;")
  .maze__hero
    | o
